<!DOCTYPE html>
<title>Welcome to the edge detector website</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<h1>Hey there, you are in the Computer Vision Edge Detector Project!</h1>


<h2>Choose which edge detector you would like to use.</h2>
    <p style="color:MediumSeaGreen;">1) <a href="http://localhost:5000/canny">Canny Edge Detector</a></p>
    <p style="color:Purple;">2) <a href="http://localhost:5000/sobel">Sobel Edge Detector</a></p>
    <p style="color:Red;">3) <a href="http://localhost:5000/prewitt">Prewitt Edge Detector</a></p>
    <p style="color:Red;">4) <a href="http://localhost:5000/laplacian">Laplacian Gradient</a></p>
    <p style="color:Red;">5) <a href="http://localhost:5000/histogram_equalization">Histogram Equalization</a></p>

<h6 style="color:MediumSeaGreen;"><a href="https://www.youtube.com/watch?v=6Fqozggi-44">I'm feeling lucky!</a></h6>
</body>
