<!DOCTYPE html>
<title>Welcome to Prewitt Edge Detector</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<h1>Hey there, you're in the Prewitt Edge Detector. {{ name  }}</h1>
<body>

      <form action = "http://localhost:5000/uploader_prewitt" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
</body>

<h3 style="color:Red;"><a href="http://localhost:5000/">Go back home</a></h3>